* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f4f7f6;
  color: #333;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  font-weight: bold;
  font-size: 24px;
  color: #2c3e50;
}

.menu {
  display: flex;
  list-style: none;
  gap: 20px;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.btn-contact {
  background-color: #333;
  color: white !important;
  padding: 8px 20px;
  border-radius: 20px;
}

/* HERO SECTION */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 10%;
  height: 80vh;
}

.hero-text h1 {
  font-size: 48px;
  color: #2c3e50;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 5px;
  margin-right: 10px;
  transition: 0.3s;
}

.primary {
  background-color: #3498db;
  color: white;
}

.secondary {
  border: 1px solid #333;
  color: #333;
}

.btn:hover {
  transform: translateY(-3px);
}

.hero-image {
  width: 300px;
  height: 300px;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}


/* SKILLS SECTION */
.skills {
  padding: 50px 10%;
  text-align: center;
}

.section-title {
  margin-bottom: 40px;
  font-size: 30px;
}

.skills-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.skill-card {
  background: white;
  padding: 30px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  border-bottom: 4px solid #3498db;
}

/* FOOTER */
footer {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}
