body {
  font-family: sans-serif;
  background-color: #f0f2f5;
}
.card {
  width: 350px;
  background-color: white;
  margin: 50px auto;
  border-radius: 10px;
  text-align: center;
}
.cover-image {
  height: 120px;
  background-color: #0d8abc;
}
.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid white;
  margin-top: -60px;
  display: inline-block;
}
.name {
  margin-top: 10px;
  color: #333;
}

.job {
  color: #777;
  margin-bottom: 15px;
}

.skills-list {
  padding: 0;
}

.skills-list li {
  display: inline-block;
  background-color: #e3f2fd;
  color: #0d8abc;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 15px;
  font-size: 13px;
}

.btn-contact {
  background-color: #0d8abc;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
  margin-top: 15px;
}

.btn-contact a {
  text-decoration: none;
  color: white;
}

.social-links a {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #0d8abc;
  width: 100px;
  padding: 10px 0;
  border-radius: 25px;
  text-align: center;
  margin: 0 15px;
}
