.box {
  width: 200px;
  height: 200px;
  background-color: blue;
  line-height: 200px;
  text-align: center;
  border: 20px solid black;
  margin: 20px;
}

.box1 {
  box-sizing: content-box;
}

.box2 {
  box-sizing: border-box;
}
